{% extends 'layout/app-layout.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
   
<h1>CinemaTalks  <i class="fas fa-film"></i></h1>

<p>        
At CinemaTalks, we're passionate about movies and providing a platform for movie enthusiasts to connect, share, and explore their love for cinema. Whether you're a casual moviegoer or a hardcore cinephile, CinemaTalks is your go-to destination for all things related to films.

Our Mission
Our mission at CinemaTalks is to foster a vibrant community of movie lovers from around the globe. We aim to create an inclusive space where users can discuss their favorite movies, discover hidden gems, and engage in insightful conversations about the art of filmmaking.

What We Offer
Community Interaction: Connect with fellow movie buffs, share your thoughts on recent releases, and discover new cinematic experiences.

Reviews and Recommendations: Explore curated lists, read user reviews, and get personalized recommendations tailored to your taste in movies.

Exclusive Content: Access exclusive interviews, behind-the-scenes features, and in-depth analysis from industry experts and filmmakers.

Join Us Today
Ready to dive into the world of cinema? Join CinemaTalks today and become part of our growing community. Whether you're here to discuss your favorite films, seek recommendations, or simply share your passion for cinema, you're welcome at CinemaTalks!
    </p>
{% endblock %}
